<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reservas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterBookings()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let booking of filteredBookings">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h2>Reserva ID: {{ booking.id }}</h2>
        <p><strong>Estudiante:</strong> {{ booking.student.first_name }} {{ booking.student.last_name }}</p>
        <p><strong>Tutor:</strong> {{ booking.tutor.first_name }} {{ booking.tutor.last_name }}</p>
        <p><strong>Fecha:</strong> {{ booking.date }}</p>
        <p><strong>Hora de Inicio:</strong> {{ booking.start_time }}</p>
        <p><strong>Hora de Fin:</strong> {{ booking.end_time }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
</ion-content>
